div{
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.emogy{
    display:flex;
    flex-direction: row;
    gap: 5rem;
}
figure {
    display: inline-block;
    height: 70px;
    width: 70px;
    background-position: center center;
    background-size: cover;
  }